body, html
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
canvas
{
    width: 100%;
    height: 100%;
}

#main
{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.supplie {

    border: 1px solid black;
    width: 30px;
    height: 30px !important;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.supplie-energy {
   background-image: url('/public/img/energy.png');
   background-size: cover;
background-position: -8px;
}

.supplie-potion {
    background-image: url('/public/img/potion.png');
   background-size: cover;
    background-position: 1px -2px;
}

.blur-container {
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0px;
    background-color: white;
    background-position: 5px;
    -webkit-filter: blur(8px);
    opacity: 0.7;
}

.menu-container {
    position: absolute;
    height: 70px;
    overflow: hidden;
    bottom: 0px;
}